@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.logo-image {
    max-width: 20rem;
    height: 10rem;
}

.nav-bar{
    background-color: rgb(237, 240, 244);
    min-width: 100%;
}

.nav-menu, .nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.nav-item, .dropbtn {
    padding-left: 3rem;
    font-weight: 800;
}

ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

body {
    font-family: 'josefin sans', sans-serif;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-mobile {
    display: none;
    position: absolute; 
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content-mobile a {
    color: black;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content-mobile a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin-right: auto;
}

.dropdown:hover .dropdown-content-mobile {
    display: block;
    margin-right: auto;
}

.tag-line{
    margin-left: auto;
}

.not{
    padding-right: .5rem;
    padding-left: .4rem;
    font-weight: 800;
}

.tag-helpless, .tag-hopeless{
    background-color: black;
    color: white;
    padding: .8rem;
    font-style: italic;
}

.hamburger-menu{
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.hamburger-menu div{
    width: 35px;
    height: 3px;
    background-color: rgb(237, 240, 244);
    margin: 6px 0;
    transition: .4s;
}

.image-container{
    position: relative;
    text-align: center;
}

.cross-image{
    width: 100%;
}

.image-verse-address{
    position: absolute;
    top: 15rem;
    left: 10rem;
    font-size: 2.5rem;
    }
.image-verse{
    position: absolute;
    top: 20rem;
    left: 10rem;
    font-size: 3rem;
    }

    
@media screen and (min-width: 1605px) and (max-width: 2428px){
    .image-verse-address{
        position: absolute;
        top: 15rem;
        left: 11rem;
        font-size: 2rem;
        }

    .image-verse{
        position: absolute;
        top: 18rem;
        left: 8rem;
        font-size: 2.5rem;
        max-width: 30rem;
        }
}

@media screen and (min-width: 1300px) and (max-width: 1606px){
    .image-verse-address{
        position: absolute;
        top: 10rem;
        left: 11rem;
        font-size: 2rem;
        }

    .image-verse{
        position: absolute;
        top: 14rem;
        left: 8rem;
        font-size: 2.5rem;
        max-width: 30rem;
        }
}

@media screen and (min-width: 1055px) and (max-width: 1300px){
    .image-verse-address{
        position: absolute;
        top: 5rem;
        left: 11rem;
        font-size: 2rem;
        }

    .image-verse{
        position: absolute;
        top:9rem;
        left: 8rem;
        font-size: 2.5rem;
        max-width: 30rem;
        }
}

@media screen and (min-width: 850px) and (max-width: 1055px){
    .image-verse-address{
        position: absolute;
        top: 4rem;
        left: 3rem;
        font-size: 1.8rem;
        }

    .image-verse{
        position: absolute;
        top:8rem;
        left: 2rem;
        font-size: 2rem;
        max-width: 30rem;
        }
}

@media screen and (min-width: 720px) and (max-width: 850px){
    .image-verse-address{
        position: absolute;
        top: 4rem;
        left: 3rem;
        font-size: 1.5rem;
        }

    .image-verse{
        position: absolute;
        top:7rem;
        left: 2rem;
        font-size: 1.7rem;
        max-width: 23rem;
        }
}

@media screen and (min-width: 500px) and (max-width: 720px){
    .image-verse-address{
        position: absolute;
        top: 3rem;
        left: 3rem;
        font-size: 1rem;
        }

    .image-verse{
        position: absolute;
        top:5rem;
        left: 2rem;
        font-size: 1.2rem;
        max-width: 15rem;
        }
}

@media screen and (min-width: 375px) and (max-width: 500px){
    .image-verse-address{
        position: absolute;
        top: 2.5rem;
        left: 3rem;
        font-size: .8rem;
        }

    .image-verse{
        position: absolute;
        top:4rem;
        left: 2rem;
        font-size: .8rem;
        max-width: 12rem;
        }
}

@media screen and (min-width: 300px) and (max-width: 375px){
    .image-verse-address{
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        font-size: .8rem;
        }

    .image-verse{
        position: absolute;
        top:2.5rem;
        left: 1rem;
        font-size: .8rem;
        max-width: 10rem;
        }
}

@media screen and (max-width: 300px){
    .image-verse-address{
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        font-size: .5rem;
        }

    .image-verse{
        position: absolute;
        top:2.5rem;
        left: 1rem;
        font-size: .5rem;
        max-width: 8rem;
        }
}

@media screen and (min-width: 1100px) {
    #hamburger-menu{
        display: none;
    }
    
}


@media screen and (max-width: 1099px) {
    .nav-menu{
        display: none;
    }

    .mobile-menu-image{
        max-width: 3rem;
    }

}


/* TODO: make the sub menu for mobile and tablet view in the hamburger menu*/
